{% extends 'jobs/index.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>New Job</h1>
        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}} 
            <input type="submit" value="Save" class="btn btn-primary" />
        </form>
        <script>
            var name="{{user.id}}";
            document.getElementById("elder").value=name
        </script>
    {% else %}
        <h1>Not Logged In!!!</h1>
        <a href="{% url 'signup' %}">Don't have  account??</a>
    {% endif %}


{% endblock content %}